<?xml version="1.0" encoding="utf-8"?>
<!-- [Jalur Class/Modul]: core-worker/src/main/AndroidManifest.xml -->
<!-- [Penjelasan]: Mendaftarkan konfigurasi foregroundServiceType dataSync pada SystemForegroundService untuk integrasi WorkManager. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />
        <service
            android:name="com.wakwau.xplore.core.worker.service.FileCopyService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />
    </application>
</manifest>

